# Python Immersion Course

### Data Visualization with Python - Part 5

### Joe Blankenship - Just some dude

<hr>

## Data Cleaning

<hr>

### List Comprehensions

In [ ]:
'''
Thanks to Dan Bader for this example

A list comprehension is structured like this:

vals = [expression 
        for value in collection 
        if condition]

This is equivalent to:

vals = []
for value in collection:
    if condition:
        vals.append(expression)
'''
# Example:

even_squares = [x * x for x in range(10) if not x % 2]
even_squares

<hr>

## Time Series Data

<hr>

<hr>

## Demo

<hr>

In [1]:
# import Pandas and statsmodels
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
# read in our census data set
census_2010_ky = pd.read_csv('data/census_2010_ky.csv')
census_2010_ky.head(2)

,id,geoid,label,totpop,medage,sindads,sinmoms
0,0500000US21001,21001,"Adair County, Kentucky",18656,39.0,176,422
1,0500000US21003,21003,"Allen County, Kentucky",19956,39.2,176,486

In [3]:
census_2010_ky.describe()

              geoid         totpop      medage      sindads       sinmoms
count    120.000000     120.000000  120.000000   120.000000    120.000000
mean   21120.000000   36161.391667   39.638333   349.800000   1015.758333
std       69.570109   74122.757215    2.713247   711.645101   2584.908977
min    21001.000000    2282.000000   28.900000    26.000000     40.000000
25%    21060.500000   12385.250000   38.475000   123.750000    289.250000
50%    21120.000000   18751.000000   40.100000   191.500000    487.000000
75%    21179.500000   35619.000000   41.000000   313.750000    865.250000
max    21239.000000  741096.000000   47.900000  7246.000000  26664.000000

In [20]:
census_2010_ky.medage.value_counts()

40.1    6
39.5    5
40.6    5
39.8    4
40.7    4
40.9    4
41.1    3
35.0    3
40.3    3
40.5    3
42.6    3
40.2    3
39.9    3
41.8    2
37.9    2
40.4    2
41.6    2
39.3    2
38.4    2
42.2    2
41.0    2
39.2    2
39.0    2
37.7    2
39.1    2
33.7    2
41.3    2
39.7    2
28.9    1
35.7    1
       ..
36.0    1
38.9    1
42.0    1
37.0    1
34.0    1
40.0    1
39.4    1
32.7    1
44.8    1
44.9    1
37.8    1
47.9    1
37.6    1
44.2    1
43.8    1
41.7    1
38.8    1
38.1    1
43.9    1
38.2    1
35.3    1
37.4    1
37.1    1
42.9    1
38.7    1
42.8    1
42.4    1
31.7    1
38.6    1
44.3    1
Name: medage, Length: 69, dtype: int64

In [19]:
census_2010_ky.medage.unique()

array([39. , 39.2, 38.4, 42.4, 39.7, 39.9, 41. , 35.7, 40.7, 41.8, 40.6,
       40. , 41.6, 38.2, 40.1, 42.6, 34. , 37. , 42.9, 37.6, 39.3, 28.9,
       39.8, 37.7, 43.8, 38.8, 41.3, 33.7, 42.8, 37.4, 41.2, 35.3, 42. ,
       39.5, 35. , 40.5, 44.8, 40.4, 37.9, 35.8, 36. , 38.5, 40.2, 40.9,
       41.1, 40.3, 44.9, 47.9, 41.5, 39.1, 37.8, 44.3, 37.3, 41.7, 42.1,
       38. , 38.6, 42.2, 38.7, 43.9, 31.7, 38.3, 38.9, 39.4, 37.1, 44.2,
       36.3, 32.7, 38.1])

In [13]:
# use our order of lease squares model to fit the relationship between single moms and single dads
model = smf.ols('sindads~sinmoms', census_2010_ky).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                sindads   R-squared:                       0.989
Model:                            OLS   Adj. R-squared:                  0.989
Method:                 Least Squares   F-statistic:                 1.067e+04
Date:                Thu, 18 Oct 2018   Prob (F-statistic):          1.50e-117
Time:                        18:16:46   Log-Likelihood:                -686.98
No. Observations:                 120   AIC:                             1378.
Df Residuals:                     118   BIC:                             1384.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     71.6883      7.337      9.771      0.000      57.160      86.217
sinmoms        0.2738      0.003    103.273      0.000       0.269       0.279
==============================================================================
Omnibus:                       76.240   Durbin-Watson:                   2.193
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              557.351
Skew:                           2.036   Prob(JB):                    9.39e-122
Kurtosis:                      12.741   Cond. No.                     2.97e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
from statsmodels import

### Wordclouds

In [ ]:
from os import path
from wordcloud import WordCloud, STOPWORDS
import numpy as np
from PIL import Image

# Read the whole text.
text = open('text.txt').read()

mask = np.array(Image.open("mask.png"))

stopwords = set(STOPWORDS)

# Generate a word cloud image
wordcloud = WordCloud(background_color="black", mask=mask, stopwords=stopwords, contour_width=3, contour_color='white').generate(text)
wordcloud.to_file('output_image.jpg')

_
## Resources
_

**Note:** A lot of the open-source materials are provided by people who develop those materials for a living. So please consider sending them a thank you and if you can, a few buck to support their efforts. Thanks! :)    

*